:root{
    --blanco: #ffffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --gris-claro: #dfe9f3;

}

/* globales */

html{
    font-size: 62.5%;
    box-sizing: border-box; /* hack para box model */
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-size: 16px; /* 1rem = 10px */
    font-family: 'Rubik', sans-serif;
    background-image: linear-gradient(to top, var(--gris-claro) 0%, var(--blanco) 100%);
}

.sombra {
    
    box-shadow: 1px 2px 17px -1px rgba(71,71,71,1);
    background-color: var(--blanco);
    padding: 3rem;
    border-radius: .5rem;
}

/* tipografias */

h1 {
font-size: 3.2rem;
}
h2 {
font-size: 2.2rem;
}
h3 {
font-size: 1.6rem;
}
h1,h2,h3 {
    text-align: center;
}

.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 2rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    transition: ease-in .2s;
}

.boton:hover {
    cursor: pointer;
    background-color: var(--primario);
    color: var(--oscuro);
    transition: ease-in .2s;
}

@media (min-width: 768px) {
    .boton{
        width: auto;
    }
}


.titulo span{
    font-size: 1.8rem;
}

/* navegacion principal */

.nav-contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

.nav-bg{
    background-color: var(--secundario);
}

.nav-principal{
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .nav-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}

.nav-principal a{
    
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 1rem;
    transition: ease-in .2s;
}
.nav-principal a:hover {
    cursor: pointer;
    background-color: var(--primario);
    color: var(--oscuro);
    transition: ease-in .2s;
}

.hero {
    background-image: url(/code/src/hero.jpg);
    background-size: cover;
    height: 30rem;
    position: relative;
    margin-bottom: 3rem;
}

.hero-contenedor {
    position: absolute;
    background-color: rgba(0,0,0, .66);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-contenedor h2{
    color: var(--blanco);
}
.hero-contenedor p {
    color: var(--blanco);
    margin-top: 0;
}

/* servicios */

@media (min-width: 768px) {
    .servicios{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    column-gap: 2rem;
    }
}
.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3 {

}

.servicio p {

}

.servicio .iconos {
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}



